* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: pink;
    color: #48281a;
}
header {
    text-align: center;
    padding: 50px ;
    background-image: url(images/bgimg\ cake.jpeg),url(images/ice\ bg.jpeg); 
    background-size: contain,contain;
    background-position: left,right;
    background-repeat: no-repeat;
    border-bottom: 2px solid brown;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
    
header h1 {
    margin-bottom: 20px;
    font-family: "Eczar", serif;
    font-size: 2.5rem;
}
header p {
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
header a {
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: brown;
    color: antiquewhite;
    text-decoration: none;
    margin: 10px auto 0;
    border-radius: 8px;
    transition: 1s;
}

header a:hover {
    scale: 1.1;
  }
  nav {
   padding: 10px 0;
   text-align: center;
   position: sticky;
   top: 0px;
   margin-top: 20px;
   font-family: "Lato", sans-serif;
}
nav ul li {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid brown;
    border-radius: 8px;
    margin-right: 20px;
    transition: 1s;
}
nav ul li:hover {
    box-shadow: 2px 2px 2px 2px blueviolet;
  }
  
nav ul li a {
    text-decoration: none;
    color: #48281a;
    font-size: 1.2rem;
}
#our-menu,
#about-us, 
#contact-us,
footer{
padding-left: 60px;
width: 90%;
margin: 50px auto;
}
#our-menu h2,
#about-us h2,
#contact-us h2 {
    font-family: "Eczar", serif;
    font-size: 2rem;
    padding: 10px 0;
}
#our-menu h3 {
    margin-top: 30px;
    font-size: 1.4rem;
  }
.menu {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.card {
    border: 1.8px solid brown;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-right: 18px;
    margin-bottom: 20px;
    width: 230px
}
.card-img-top {
    max-width: 100%;
    border-radius: 8px;
    height: 170px;
  }
.cake-heading {
    text-align: center;
    padding: 20px ;
}
.cake-text {
    line-height: 1.4;
}
   
.price {
   font-style: italic;
}
.order {
    display: block;
    background-color: beige;
    color: brown;
    padding: 10px 0;
    border-radius: 7px;
    text-decoration: none;
    margin-top: 10px;
}
.order:hover {
    background-color: skyblue;
    transition: 1s;
}
#about-us p,
#contact-us p,
footer p {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    text-align: justify;
    padding: 10px 0;
}
.form {
    /* border: 1px solid brown;  */
    padding: 10px 0;
  margin-bottom: 10px;
  /* border: 1px solid #ccc;  */
}
.msg-form {
    width: 50%;
    height: 110px;
    padding: 20px 0;
    position: relative;
}
.text-box-size {
    width: 200px;
    height: 25px;
    border-radius: 3px;
}
.msg-box-size {
    width: 200px;
    height: 60px;
    border-radius: 5px;
}
.submit {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: bisque;
    transition: 1s;
}
.submit:hover {
    background-color: aqua;
}
footer p {
text-align: center;
font-size: 13px;
}
footer a {
    position: fixed;
  bottom: 40px;
  right: 30px;
  font-weight: 900;
  width: 50px;
  height: 50px;
  border: 4px solid brown;
  background-color: white;
  border-radius: 30px;
  padding-top: 12px;
}

   
   